.user_img {
    text-align: center;
    margin: 10px auto;

}
.userImg {
    /*width: 200px;*/
    height: 200px;
    /*margin: 10px auto;*/
}


.user_info > h3 h5 {
    padding: 10px 0;
    /*text-align: center;*/
}

.userContent {
    padding-top: 40px;
}